.userInformation {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 3px 5px 5px 0px rgba(223, 226, 231, 1);
	margin-top: 4rem;
	padding: 4rem;
}
.title {
	color: #1c1d1f;
	font-size: 3rem;
	margin: 0;
}
.form {
	margin-top: 2.5rem;
}
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}
.formGroup:nth-child(3) {
	grid-column: 1 / 3;
}
.formControl {
	background: none;
	border: 2px solid #b4bff5;
	border-radius: 8px;
	color: #2d2e30;
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	margin-top: 1rem;
	padding: 1.5rem;
	width: 100%;
	transition: background-color 0.3s;
}
.formControl:focus {
	background-color: #f8f9fe;
	outline: none;
}
label {
	color: #7c7d7f;
	font-size: 1.6rem;
	font-weight: 600;
}
.button {
	background-color: #455cc7;
	border: none;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	font-size: 1.8rem;
	letter-spacing: 1px;
	margin-top: 2rem;
	grid-column: 1 / 3;
	padding: 1.5rem;
}
